HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

.mvn
.settings
target/**
bin/**
/src/main/webui/dist/**
/src/main/webui/node_modules/**
/src/main/resources/static/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA & VSCODE###
.idea/**
.idea/
/.idea/
.vscode/**
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
node_modules

### Auth files ###
