<div class="container-fluid">

    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                       (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>
                    Users
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 pt-2">
                    <ul class="nav nav-tabs-new">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" [ngClass]="{'active show': (0 == activeTab)}"
                               (click)="tabChange(0)">
                                <span>Mine</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" [ngClass]="{'active show': (1 == activeTab)}"
                               (click)="tabChange(1)">
                                <span>All</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" [ngClass]="{'active show': (2 == activeTab)}"
                               (click)="tabChange(2)">
                                <span>Something else</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="block-header">
        <div class="d-flex">
            <div class="ml-auto">
                <div class="row" style="padding-right: 10px;">
                    <input type="text" class="form-control" placeholder="Tap for search.."
                           [(ngModel)]="filterValue"
                           aria-label="Tap for search.." aria-describedby="btnGroupAddon"
                           style="max-width: 150px;min-width: 50px;margin-right: 5px;border: 1px #dcdada38 solid">
                    <button type="button" class="btn btn-default mr-1" title="Search" (click)="loadUsers()">
                        <span class="sr-only">Search</span> <i
                            [ngClass]="(filterValue === '') ? 'fa fa-refresh' : 'fa fa-search'"></i>
                    </button>
                    <button type="button" class="btn btn-default mr-1" title="Select">
                        <span class="sr-only">Select</span> <i class="fa fa-check-circle-o"></i>
                    </button>
<!--                    (click)="openModal(content,'md')"-->
                    <button type="button" class="btn btn-default mr-1" title="Add">
                        <span class="sr-only">Add</span> <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default mr-1" title="Delete">
                        <span class="sr-only">Delete</span> <i class="fa fa-trash-o"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let user of userList">
            <div class="card">
                <div class="body text-center">
                    <div class="chart easy-pie-chart-1" data-percent="75">
                        <span>
                          <img *ngIf="!user.file" src="assets/images/sm/avatar1.jpg" alt="user" class="rounded-circle"/>
                          <img *ngIf="user.file" [src]="user.retrievedImage" alt="user" class="rounded-circle"/>
                        </span>
                    </div>
                    <h6>{{user.firstname + ' ' + user.lastname}}</h6>
                    <ul class="social-links list-unstyled">
                        <li><a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                    <small>795 Folsom Ave, Suite 600 San Francisco,<br> CADGE 94107</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="body text-center">
                    <div class="p-t-65 p-b-65">
                        <h6>Add New User</h6>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addcontact"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>