<div class="container-fluid">

	<app-visits [title]="'Courses'" [sub_title]="'Courses'"></app-visits>

	<div class="row clearfix">
		<div  *ngFor="let course of courseList" class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>{{course.name}}<small>{{course.created}}</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">Action</a></li>
								<li><a href="javascript:void(0);">Another Action</a></li>
								<li><a href="javascript:void(0);">Something else</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Description<span class="badge badge-success float-right">{{course.status}}</span></h6>
					<p>{{course.description}}</p>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Classes</small></li>
						<li *ngFor="let aClass of course.classes"><span class="badge badge-success float-right">{{aClass.name}}</span></li>
					</ul>
					<p>
						<ngb-progressbar type="success" [value]="87" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 12</small>
							<h6>BUDGET: 4,870 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>