<div class="container-fluid">

	<app-visits [title]="'Courses'" [sub_title]="'Courses'"></app-visits>
	<div class="block-header">
	<div class="row">
		<div class="col-lg-12 col-md-4 col-sm-12 text-right">
			<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">

			</div>
			<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text" id="btnGroupAddon">@</div>
					</div>
					<input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
				</div>
			</div>
			<div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
				<button type="button" class="btn btn-default mr-1" title="Refresh"><span class="sr-only">Refresh</span> <i class="fa fa-refresh"></i></button>
				<button type="button" class="btn btn-default mr-1" title="Select"><span class="sr-only">Select</span> <i class="fa fa-check-circle-o"></i></button>
				<button type="button" class="btn btn-default mr-1" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></button>
				<button type="button" class="btn btn-default mr-1" title="Delete"><span class="sr-only">Delete</span> <i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</div>
	</div>

	<div class="row clearfix">
		<div  *ngFor="let course of courseList" class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>{{course.name}}<small>{{course.created}}</small></h2>
					<ul class="header-dropdown">
						<li class="dropdown" ngbDropdown>
							<a href="javascript:void(0);" class="dropdown-toggle" role="button" ngbDropdownToggle></a>
							<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<li><a href="javascript:void(0);">See Details</a></li>
								<li><a href="javascript:void(0);">Edit</a></li>
								<li><a href="javascript:void(0);">Copy</a></li>
								<li><a href="javascript:void(0);">Delete</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<h6 class="m-b-15">Description<span class="badge badge-success float-right">{{course.status}}</span></h6>
					<p>{{course.description}}</p><button class="btn btn-danger mr-1 float-right">JOIN NOW</button>
					<ul class="list-unstyled team-info m-t-20">
						<li class="m-r-15"><small class="text-muted">Classes:</small></li>
						<li *ngFor="let aClass of course.classes"><span class="badge badge-success float-right">{{aClass.name}}</span></li>
					</ul>
					<p>
						<ngb-progressbar type="success" [value]="87" height="5px"></ngb-progressbar>
					</p>
					<div class="row">
						<div class="col-7">
							<small>PROJECTS: 12</small>
							<h6>BUDGET: 4,870 USD</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>